{
  "plugins": [
    ["import", { "libraryName": "antd", "style": true }]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "49",
          "ios": "10"
        }
      }
    ]
  ]，
}
